# CONFIG

ENV="development"
DEBUG=True
APP_HOST="0.0.0.0"
APP_PORT=8000

# DB
DB_DRIVER="postgresql+asyncpg"
DB_NAME="fastapi"
DB_USER="fastapi"
DB_PASSWORD="fastapi"
DB_HOST="localhost"
DB_PORT=5432

# DB TEST
DB_TEST_DRIVER="postgresql+asyncpg"
DB_TEST_NAME="fastapi"
DB_TEST_USER="fastapi"
DB_TEST_PASSWORD="fastapi"
DB_TEST_HOST="localhost"
DB_TEST_PORT=5432

# CELERY
CELERY_BROKER_URL="amqp://user:bitnami@localhost:5672/"
CELERY_BROKER_URL="redis://:password123@localhost:6379/0"