name: Apply Black & Isort

on:
  push:
  pull_request:

permissions:
  contents: write

jobs:
  format:
    runs-on: ubuntu-latest
    if: ${{ github.ref_name != 'main' && github.actor != 'dependabot[bot]' && !contains(github.event.head_commit.message, 'Automated Black') }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref || github.ref_name }}
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.8"

      - name: Install and run black and isort
        run: |
          pip install black isort
          black .
          isort .

      - name: Check for modified files
        run: echo "modified=$(if git diff --quiet; then echo 'false'; else echo 'true'; fi)" >> $GITHUB_ENV

      - name: Push changes
        if: env.modified == 'true'
        run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'noreply@github.com'
          git add .
          git commit -m "Automated Black & Isort formatting"
          git push origin HEAD:${{ github.event.pull_request.head.ref || github.ref_name }}
